body{
	text-align: center;
	padding:0px;
	color: :gold;
	background: orange;
}

a{
	text-decoration: none;
}


.header{
	height: 30vh;
	padding:10px;
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 5px;

}
.d{
	color: gold;
	border-radius: 50%;
	background-image: url(../images/1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}
.e{
	color: gold;
	border-radius: 50px;
	background-image: url(../images/10.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.e:hover{
	background-image: url(../images/7.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: black;
}
.a{
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 60vh;
	padding: 10px;
	grid-gap: 10px;
	margin-top: 0px;
}
.b{
	color: gold;
	border-radius: 50px;
	background-image: url(../images/9.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	font-size: 25px;
	background-position: center;
}
.b:hover{
	background-image: url(../images/8.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: black;
}
.c{
	color: gold;
	border-radius: 50px;
	font-size: 22px;
	background-image: url(../images/9.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.c:hover{
	background-image: url(../images/3.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}
.menu{
	padding:0;
	margin: 10px;

}
li{
	color:gold;
	padding:10px;
	background: black;
	border-radius: 50px;
	list-style:none;
}
.list{
	display: grid;
	grid-template-columns:repeat(4,1fr);
	grid-gap:5px;
	margin-right:25px;
	margin-bottom: 0px;
	margin-top: 0px;
}
li:hover{
	background-image: url(../images/6.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	color: black;
}
.footer{
	height: 10vh;
	border-radius: 50px;
	margin-top: 255px;
	color: gold;
	text-align: right;
	padding-right: 10px;
	background: black;
}
.footer:hover{
	background-image: url(../images/2.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

}

.button{
	font-size: 20px;
}
.f{
	text-align: left;
	padding-left: 10px;
	font-size: 25px;
}
.h{
	text-align: center;
	padding: 10px;
	color: black;
	font-size: 20px;
}
.o{
	color: gold;
	padding-top: 20px;

}